<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <title>@ViewData["Title"] - systemBiblioteczny</title>
</head>
<body>
    <nav>
        <a asp-area="" asp-controller="Book" asp-action="Index">Home 1</a>
        <a asp-area="" asp-controller="Book" asp-action="Index">Home 2</a>
        <a asp-area="" asp-controller="Book" asp-action="Index">Home 3</a>
    </nav>

    <main>
        @RenderBody()
    </main>


    <footer>Books 2024 ®</footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>