@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>


 

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">


            <div asp-validation-summary="ModelOnly" role="alert"></div>
    <div class="form-divider">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email"  autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email"></span>
            </div>

            <div asp-validation-summary="ModelOnly"  role="alert"></div>
    <div class="form-divider">
                <label asp-for="Input.Login">Login</label>
                <input asp-for="Input.Login"  autocomplete="login" aria-required="true" placeholder="MyLogin15" />
                <span asp-validation-for="Input.Login"></span>
            </div>

    <div class="form-divider">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password"  autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password"></span>
            </div>

            <div class="form-divider">
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword"  autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>

            <button id="registerSubmit" type="submit">Register</button>
        </form>
   



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
