@model systemBiblioteczny.Models.Book

@{
    ViewData["Title"] = "Add a book";
}


<h1>Add a Book</h1>

@if (User.IsInRole("Admin")) {
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-divider">
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>


    <div class="form-divider">
        <label asp-for="Author"></label>
        <input asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>

    <div class="form-divider">
        <label asp-for="Genre"></label>
        <input asp-for="Genre" />
        <span asp-validation-for="Genre"></span>
    </div>

    <div class="form-divider">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-divider">
        <label asp-for="ReleaseDate">Release Date</label>
        <input asp-for="ReleaseDate" />
        <span asp-validation-for="ReleaseDate"></span>
    </div>

    <div class="form-divider">
        <label asp-for="IdBookStatus">Book Status</label>
        <select asp-for="IdBookStatus" name="IdBookStatus">
            @foreach (var status in ViewBag.IdBookStatus as SelectList) {
                <option value="@status.Value">@status.Text</option>
            }

        </select>
        <span asp-validation-for="IdBookStatus" class="text-danger"></span>
    </div>


    <div class="form-divider">
        <button type="submit" value="Create" id="createButton">Create</button>
        <span></span>
    </div>   
    
    <div class="form-divider">
        <a asp-action="Index" class="a-btn">All Books</a>
        <span></span>
    </div>

</form>

}
