* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    background-color: #f7f8f9;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(129deg, #c3af95 0%, rgba(162,109,89,1) 94%);
}

h1 {
    margin-block: 1em;
    margin-bottom: 0.5em;
    font-size: 3rem;
}

nav a {
    display: block;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-size: 22px;
    &:hover {
        background-color: #ffffff17;
/*    filter: brightness(1.25);*/
    }

}

main {
    min-height: 500px;
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 1rem;
    /* background-color: white; */
}

footer {
    margin-top: 3rem;
    text-align: center;
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(87, 87, 87);
    background-color: #f4ecec;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    max-width: 1000px;
}

@media (width > 400px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 10%;
    }

    .form-divider {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

nav img[alt="Logo"] {
    margin-left: 1rem;
}
#manage {
    margin-top: 0 !important;
    margin-left: auto;

    color: white;
    font-weight: bold;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-size: 20px;
}

#register {
    margin-left: auto;
}

#logoutForm {
    display: inline !important;
    margin-top: 0;
}

#logout {

    margin-top: 0;
    display: block;
    color: #ffffff;
    background: none;
    font-weight: bold;
    text-decoration: none;
    padding: 0.64rem 1.5rem;
    font-size: 22px;
    &:hover{
        background-color: #ffffff17;
        /*    filter: brightness(1.25);*/
    }

           img {
               width: 32px;
               height: 100%;
           }

           
}

#forgot-password {
    margin-top: 1rem;
}

.element-form {
    margin-top: 0;
    display: flex;
    justify-content: center;
    button [type=submit] {
               margin-top: 0;
           }
}

.hidden-form {
    margin-top: auto;
}

.hidden-form-button {
    display: block;
    width: 100%;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

input {
    margin-bottom: 1rem;
}

input, select {
    padding: 0.65rem 1.25rem;
    font-size: 20px;
}

select, option {
    cursor: pointer;
}

label {
    margin-bottom: 0.5rem;
    font-size: 18px;
}

.a-btn {
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top: 1.25rem;
    background: linear-gradient(166deg, #ea5180 0%, #be57af 100%);
    color: white;
    border: none;
    padding: 0.9rem 1.5rem;
    font-size: 20px;
    transition: background 1s;
    text-decoration: none;
}

 .a-btn:hover {
       filter: brightness(1.1);
  }



button[type=submit] {
    cursor: pointer;
    margin-top: 1.25rem;
    background: linear-gradient(166deg, rgba(243,108,76,1) 0%, rgba(228,80,93,1) 35%);
    color: white;
    border: none;
    padding: 0.9rem 1.5rem;
    font-size: 20px;
    transition: background 1s;
}

    button[type=submit]:not([disabled]):hover {
        filter: brightness(1.1);
    }

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.element {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 17px;
/*    border-radius: 0.75rem;*/
    box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.114);
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

    .element:hover {
        background-color: #f6eadb;
        cursor: pointer;
    }

.element-title {
    font-weight: bold;
    font-size: 18px;
}

.element * {
    padding: 0.5rem 1rem;
}

h2 {
    margin-bottom: 0.5em;
    margin-top: 1rem;
}

select {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 0.5em;
}

h3 {
    color: rgb(56, 56, 56);
}

.book-description {
    max-width: 70ch;
    font-size: 18px;
    line-height: 1.4;
}

.book-h1 {
    margin-bottom: 0.25em;
}

[disabled] {
    background: linear-gradient(308deg, rgba(187,117,100,1) 0%, rgba(144,93,97,1) 35%) !important;
    cursor: not-allowed !important;
}

.special {
    margin-bottom: 1rem;
}